{
  "target_name": "ChurchDesk DEV",
  "android_apk_path": "./app/build/outputs/apk/app-debug.apk",
  "android_manifest_path": "./app/build/intermediates/manifests/full/debug/AndroidManifest.xml",
  "ship_shape_distribution_lists": {
    "SHAPE internal": [
      "shape.droid@gmail.com",
      "android.shape@gmail.com"
    ],
    "ChurchDesk": [
      "cs@churchdesk.com",
      "mh@churchdesk.com",
      "sc@churchdesk.com",
      "mkt@churchdesk.com",
      "am@churchdesk.com",
      "vs@churchdesk.com",
      "tdp@churchdesk.com",
      "ah@churchdesk.com"
    ]
  },
  "ship_last_publish_sha": "9758373beb00461e58317b865d2bc9d8787a680e"
}
